@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
    .button_register {
      background-color:#e3e3e3; /* Green */
      border: none;
      color: gray;
      display: inline-block;
    }
  }